---
import Layout from '../layouts/Layout.astro';
import PostLinks from '../components/PostLinks.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h3>About Dave Does Blog</h3>
		<hr>
		<p>Dave Does Blog is basically a place where I write about what I'm working on, interested in or passionate About.</p>
        <p>It's just a place where I'm going to be talking about coding, history, music, writing, movies etc.</p>
        <p>If I think it's worth talking about, I'll write about it here.</p>
	</main>
</Layout>

<style>
	main {
		max-width: 700px;
		margin: auto;
	}
</style>
