---
import Layout from '../layouts/Layout.astro';
import PostLinks from '../components/PostLinks.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h3>Contact Us... Me... Whatever</h3>
		<hr>
		<p>There is as of yet no contact info.</p>
	</main>
</Layout>

<style>
	main {
		max-width: 700px;
		margin: auto;
	}
</style>
